
.search{
  /* display: block;
  margin: 0 auto; */
  margin-top: -25px;
  margin-bottom: 10px;
  width: 59%;
  padding: 10px 10px;
  border-radius: 1em;
  border: 1px solid black;
  font-family: 'Space Grotesk';
  background-color: white;
}

.search-bar{
  position: absolute;
  left: 8em;
  top: 6em;
}

.submit-btn{
  padding: 10px 10px;
  border-radius: 1em;
  border: 0;
  font-family: 'Space Grotesk';
  font-weight: 100;
  /* background-color: white; */
  transition: 200ms ease-in-out;
  cursor: pointer;
  background-color: #267C8F;
  color: white;
  margin-left: 0.6em;
}

.submit-btn:hover{
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.results{
  color: white;
  position: absolute;
  top: 9.2em;
  left: 13em;
  font-size: 0.9em;
  opacity: 0.8;
}

.added{
  color: white;
  position: absolute;
  top: 9.2em;
  left: 13em;
  font-size: 0.9em;
  opacity: 0.8;
}

.results-hidden{
  display: none;
}

.added-hidden{
  display: none;
}

@media (max-width: 540px) {

  .search{
    width: 38%;
  }

  .search-bar{
    left: 7em;

  }

  .results{
    font-size: 12px;
  }

  .submit-btn{
    margin-left: 0.25em;
  }
}
