
body{
  /* background-color: beige; */
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610534440162-e0e68fbdeca3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1364&q=80);
  /* background-size: contain; */
}

#root {
  transform: scale(0.7);
  /* transform-origin: 0 0; */
}


.container{
  display: block;
  margin: 0 auto;
  max-width: 30em;
  position: relative;
  border: 3px solid white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1em;
  background-color: rgba(0, 0, 0, 0.837);
  margin-top: -6em;
  margin-bottom: 2em;
  overflow: hidden;
}

.title{
  text-align: center;
  font-size: 3.5em;
  margin-top: 10px;
  color: white;
  font-family: 'Space Grotesk';
  font-weight: 700;
}

footer{
  text-align: center;
  opacity: 0.7;
  font-size: 0.7em;
  margin-bottom: 1em;
  color: white;
  font-family: 'Space Grotesk';
}


/* #267C8F */
