
body{
  background-color: beige;
}

.container{
  display: block;
  margin: 0 auto;
  border: 3px solid red;
  border-radius: 1em;
  background-color: white;
  max-width: 30em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.title{
  text-align: center;
  font-size: 4em;
}

footer{
  text-align: center;
  opacity: 0.7;
  font-size: 0.7em;
  margin-bottom: 1em;
}
